.party
  padding: 2rem
  &__header
    display: flex
    align-items: center
    justify-content: space-between
    &_left
      display: flex
      align-items: center
      gap: 2rem
      & > div
        font-size: 1.4rem